body {
    background-color: lightGreen;
}

table {
    border-spacing: 0px;
    border: 3px solid gray;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    vertical-align: middle;
}

.grid-container {
    margin-left: auto;
    margin-right:auto;
    color: brown;
    font-family: Monospace;
    font-size: 27px;
}

td {
    background-color: lightYellow;
    border: 0.5px solid gray;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 0px;
}

td:hover, td:focus, td:active {
    background-color: #FF916F;
}