body {
    background-color: #AAE9ED;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    color: brown;
    font-family: Monospace;
    font-size: 27px;
}

.control-panel {
    text-align: center;
    margin: 1rem 0;
}

button {
    background-color: #10BC02;
    border: 2.5px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
}

button:focus, button:active {
    outline: none;
}

table {
    border-spacing: 0px;
    border: 3px solid #000;
    margin-left: auto;
    margin-right:auto;
}

td {
    background-color: lightYellow;
    border: 0.5px solid #000;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

td:hover, td:focus, td:active {
    background-color: #FF916F;
}

.board-element {
    vertical-align: middle;
    width: 100%;
    max-width: 30px;
    padding: 0;
    margin: 0;
}

.visited {
    background-color: #EBF2CA;
    animation-name: visited;
    animation-duration: 800ms;
}

@keyframes visited {
    0% {
        background-color: #B7DA96;
    }
    50% {
        background-color: #D6EDC0;
    }
    100% {
        background-color: #D6EDC0;
    }
}

.path, .path img {
    padding: 0;
    margin: auto;
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
}
